* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

.header-img {
    width: 70px;
}

.gallery-img {
    width: 150px;
}

.social-img {
    width: 25px;
    margin-left: 10px;
}

.header-container {
    align-items: center;
    background-color: rgb(58, 57, 57);
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto auto 20px auto;
}

h1 {
    color: rgb(238 238 238);
}

h3 {
    color: rgb(194 194 194);
    text-decoration: underline;
    font-size: 10px;
}

h3:hover {
    color: #0fa36b;
}

.under-header-text {
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: larger;
}

.tech-box {
    margin: 0 auto 20% 15%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto 13px auto;
  width: 50%; */
}

.html,
.css,
.javascript,
.react,
.rtl,
.redux {
    flex-direction: column;
    font-family: monospace;
    background-color: rgb(228, 226, 226);
    margin: 10px;
    padding: 40px;
    text-align: center;
    box-shadow: 3px 3px black;
    border-radius: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    width: 250;
    height: 250px;
    flex-grow: 1;
}

footer {
    padding-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(58, 57, 57);
    margin: auto
}